.board_main {
  height: 85vh;
  position: relative;
  background-color: #ffdf8c;
  width: 100%;

  .board_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 100%;

    .board_main_buttons {
      width: 85%;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      > li {
        border: 2px solid #ff9359;

        .navibutton {
          border: 2px solid #ff9359;
          padding: 10px 65px;
          background-color: #ffdf8c;
          border: 0;
          background: none;
          cursor: pointer;
        }

        .navibutton.active {
          background-color: #ff9359;
          color: white;
        }
      }
    }
  }

  .write_button {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff9359;
    bottom: 25px;
    right: 20px;
    box-shadow: 0 4px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;
    }
  }
}

.board {
  margin-top: 30px;

  .ul1 {
    width: 85%;
    margin: 0 auto;

    .board_li {
      width: 90%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #656565;
      margin: 0 auto;
      margin-bottom: 10px;

      p {
        margin: 3px 0;
      }

      .board_li_div {
        >p{
          margin: 5px 0;
          line-height: 1.3;
        }
      }
    }
  }
}
